* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000001;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
    height: 100%;
    width: 100%;
}

header {
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 400px;
    padding-right: 150px;
    padding-top: 10px;
}
.nav_logo{
    top:5px;
    position: relative;
    left:145px;
}
.header_nav_main {
    position: relative;
    font-size: 30px;
}
.palke {
    width: 100%;
}
main {
    padding-top: 50px;
    padding-left: 50px;
    background-color: white;
    width: 1500px;
    height: 600px;
}
.main_text {
    position: relative;
    top:10px;
    padding-left: 300px;
}
.main_text_paragraph {
    line-height: 25px;
    letter-spacing: 1px;
    position: relative;
    top:40px;
    left:50px;
    max-width: 500px;
}
.main_pic {
    position: absolute;
    top: 220px;
    left:720px
}
.conctact_numbers {
    position: relative;
    left:50px;
    top:30px;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 184px;
    left: 0px;
    background: #000000;
    color:white;
}
a:hover {
    color:grey;
    transform: translateY(-2px);
}
.header_nav_main:hover {
    transform: translateY(-2px);
}
